.homesp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.579), rgb(0, 0, 0)),
    url('public/suppliment\ .jpg');
  height: 100vmin;
  justify-self: center;
  position: relative;
}

.fontg {
  color: white;
}
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.579), rgb(0, 0, 0)),
    url('public/client background.png');
  height: 100vmin;
  width: 100vmax;
}
.border {
  margin-top: 100px;
  background-color:bisque;
  border-radius: 12px;
  background: transparent;
  height: 400px;
}
.form {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 35px;
}
.heading {
  text-align: center;
  color: white;
}
.lfont {
  color: white;
  padding-top: 20px;
}
.font {
  color: white;
  padding-top: 10px;
}
.icon {
  color: rgb(94, 77, 207);
  font-size: 90px;
  margin-top: 50px;
  margin-left: 140px;
}
.space {
  margin-top: 15px;
}
.submit {
  margin-top: 15px;
}

.form-check {
  padding-top: 15px;
}
.nuser {
  margin-left: 50px;
  padding-top: 50px;
}
.forgot {
  margin-left: 130px;
}
.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}
.details {
  margin-top: 50px;
}
.gear {
  margin-left: 15px;
}
.button {
  width: 100%;
}
.employee {
  padding-right: 80%;
}
.back {
  margin-top: 15px;
}
.fa-house {
  color: black;
  font-size: x-large;
}
